.homeSummariesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 2em;
}

img {
  padding-top: 15px;
  margin-left: 15px;
  max-width: 90%;
  height: auto;
  width: 100%;
}

.homeSummariesImage {
  flex-basis: 40%;
}

.homeSummariesText {
  text-align: center;
  align-items: center;
  margin: 1em;
}

.homeSummariesTitle {
  padding-bottom: .25em;
}

.homeSummariesParagraph {
  padding-bottom: .5em;
}
