/* 770px and below  */
@media (max-width: 770px) {
 .resourceListContainer {
   margin-right: 10px;
 }

 } 

 /* 770px and above */
@media (min-width: 770px) {
  .resourceListContainer {
    padding-right: 50px;
    margin-top: 20px;
  }

  .feature-card{
    margin-left: 50px;
    
  }

  .resourceh1 {
    padding-left: 65px!important;
  }
 } 

/* 1400px and above */
@media (min-width: 1400px) {
  .feature-card {
    width: 80%;
    margin-left: 100px;
  }
  .resourceh1 {
    padding-left: 110px!important;
  }
}

/* 1650px and above */
@media (min-width: 1650px) {
  .feature-card {
    width: 70%; 
    margin-left: 200px;   
  }
  .resourceh1 {
    padding-left: 210px!important;
  }
}

/* 1860px and above */
@media (min-width: 1860px) {
  .feature-card {
    width: 60%;  
    margin-left: 250px;  
  }
  .resourceListContainer {
    margin-right: 150px;
  }
  .resourceh1 {
    padding-left: 260px!important;
  }
}

.resource-container {
  padding: 0rem 5px;
}

.feature-card:hover {
  cursor: pointer;
  opacity: 0.8;
}

.feature-card-image {
  max-width: 100% !important;
  margin-left: 0 !important;
  width: 500px; 
  height: auto; 
  object-fit: contain;
}

.feature-card {
  box-shadow:0 2px 4px 4px #eee;

}

.feature-title {
  text-align: left;
  color: black;
  padding-top: 30px;
  margin-left: 20px;
}

.feature-text {
  text-align: left;
  padding: 20px 15px 30px 0;
  margin-left: 20px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resourceh1 {
  text-align: left;
  
  padding-top: 60px;
}

.resourceListContainer {
  margin-left: 20px;
  padding-top: 2rem;
}

.resourceBody {
  box-shadow: 0 2px 4px 4px #eee;
  margin-bottom: 20px !important;
}

.resourceBody:hover {
  cursor: pointer;
  opacity: 0.8;
}

.resourceTitle {
  text-align: left;
  color: black;
  padding-top: 10px;
}

.resourceText {
  text-align: left;
  color: black;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.resource-button:hover {
  cursor: pointer;
  background-color: #0d6efd;
  color: black;
}